# Add any directories, files, or patterns you don't want to be tracked by version control# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Shadow URP/Assets/AssetStoreTools*
Shadow URP/Assets/Drag/
Shadow URP/Assets/Drag.*
Shadow URP/Assets/StreamingAssets/
Shadow URP/Assets/StreamingAssets/build_info.txt
.idea/
Logs/
/default-2021.dwlt
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.log
*.exe0.log

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ============ #
# Spriter      #
# ============ #
*.scml
*.scml.meta
Shadow URP/Assets/VsCode*
Shadow URP/Assets/Test*
.vscode*
.vs*
*.apk
*.keystore

Shadow URP/Assets/UnityVS*
/Shadow URP/Logs/shadercompiler-UnityShaderCompiler.exe0.log
/Shadow URP/UserSettings*
/Shadow URP/Assets/FR2_Cache.asset
/Shadow URP/UserSettings/Layouts/default-2021.dwlt
/Shadow URP/remote_config_data
